@font-face {
  font-family: 'Smiley Sans';
  src: url('@/assets/fonts//SmileySans-Oblique.ttf.woff2');
}

@font-face {
  font-family: 'HarmonySans';
  src: url('@/assets/fonts/HarmonyOS_Sans_Regular.ttf') format('truetype');
}
